.campaignCarousel-header {
    margin: 0;
}

.t-h4--serif {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
    font-family: ff-more-web-pro,Georgia,"Serif";
}