<app-header></app-header>
<div class="container">

                <!-- <nav mat-tab-nav-bar>
                                <a mat-tab-link
                                   *ngFor="let link of navLinks"
                                   [routerLink]="link.path"
                                   routerLinkActive >
                                  {{link.label}}
                                </a>
                 </nav> -->
                 <br/>
<br/>

        <!-- <a class="nav-link" [routerLink]="['/campaignlist']" routerLinkActive="active">List of Active Campaigns</a>
        &nbsp;&nbsp;
        <a class="nav-link" [routerLink]="['/campaignlist']" routerLinkActive="active">List of Funds</a> -->
<br/>
<br/>

        <router-outlet></router-outlet>



</div>



<app-footer></app-footer>