
<div class="hero">
    <div class="hero-img" style="background-image: url('http://ux.pilot.principal.com/images/hero-left.jpg');"></div>
    <div class="hero-copy hero-copy-right">
        <h1 class="hero-title">You can also be a part of Start-up Journey</h1>
        <p>Our global reach, investment expertise, and robust assessment help you identify and invest in start-up.</p>
        <a href="#" class="btn btn-primary"><span class="cta-text">Why Principal</span></a>

    </div>
</div>

<div class="container full_width_with_container_three">
    <div class="row ">
        <div class="col-xs-12">
            <div class="row row-md-flex bg-white ds-tout-container">
                <div class="col-xs-12 col-md-4 tout">
                    <a href="https://www.principalfunds.com/individual-investor/why-principal-funds/about-us">
                        <div class="tout-icon">
                            <img src="https://www.principalfunds.com/sites/default/files/styles/micro_content/public/images/cta/icon-briefcase-purple.png?itok=N5eazP7V" alt="tout-icon" class="img-responsive">
                        </div>
                        <div class="tout-content">
                            <div class="tout-header">
                                <h2>Expertise and experience</h2>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-md-4 tout">
                    <a href="https://www.principalfunds.com/individual-investor/why-principal-funds/how-we-work/multi-boutique-approach">
                        <div class="tout-icon">
                            <img src="https://www.principalfunds.com/sites/default/files/styles/micro_content/public/images/cta/icon-wrench-purple_2.png?itok=PEs5eqml" alt="tout-icon" class="img-responsive">
                        </div>
                        <div class="tout-content">
                            <div class="tout-header">
                                <h2>Robust Assessment</h2>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-md-4 tout">
                    <a href="https://www.principalfunds.com/individual-investor/why-principal-funds/about-us/asset-allocation">
                        <div class="tout-icon">
                            <img src="https://www.principalfunds.com/sites/default/files/styles/micro_content/public/images/cta/icon-consolidate-purple.png?itok=hnnmwa1J" alt="tout-icon" class="img-responsive">
                        </div>
                        <div class="tout-content">
                            <div class="tout-header">
                                <h2>Global Reach</h2>
                            </div>
                          
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<app-campaign-list></app-campaign-list>
<br><br>

<app-fund-list></app-fund-list>
<br><br>
<app-buyback-list></app-buyback-list>
<br>