<footer class="footer">
        <section class="footer-row">
            <nav>
                <ul class="nav nav-inline">
                    <li><a href="https://www.principal.com/terms-of-use">Terms of Use</a></li>
                    <li><a href="https://www.principal.com/products-services-disclosures">Disclosures</a></li>
                    <li><a href="https://www.principal.com/privacy-policies">Privacy</a></li>
                    <li><a href="https://www.principal.com/security-policies">Security</a></li>
                    <li><a href="https://www.principal.com/about-us/our-company/policies/report-fraud-or-unethical-conduct">Report Fraud</a></li>
                    <li><a href="#placeholder">Site Map</a></li>
                </ul>
            </nav>
            <div class="footer-legal">
                <p>&copy; 2016, Principal Financial Services, Inc.</p>
                <p>Securities offered through Principal Securities, Inc., <a href="http://www.sipc.org">member SIPC</a></p>
            </div>
        </section>
    </footer>
