<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title></title>
  <base href="/">
  <!-- Horizon CSS -->
  <link href="https://www.principalcdn.com/css/horizon/v2/horizon.min.css" rel="stylesheet">
  <!-- Application specific CSS -->

  <!-- Optional favicon and apple/android homescreen icons -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.principalcdn.com/css/horizon/v2/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.principalcdn.com/css/horizon/v2/apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-8">


      <br /><br />
      <div class="embed-responsive embed-responsive-16by9">
        <!-- <iframe class="embed-responsive-item" src="..."></iframe> -->
        <iframe width="680px" height="400px" class="embed-responsive-item" [src]=trustedUrl></iframe>
      </div>


      <br /><br />
      <div class="row">
        <div class="col-lg-11">
          <mat-tab-group>
            <mat-tab label="Description">
              <div class="callout bg-gray-lightest">
                <h3>{{buybackDetails.mainCampaign.campaignDetail.short_pitch}}</h3>
                <p>
                  {{buybackDetails.mainCampaign.campaignDetail.description}}
                </p>
              </div>
            </mat-tab>
            <mat-tab label="Financials">
              <li *ngFor="let report of buybackDetails.mainCampaign?.campaignFinancialReports">
                <p>Year : {{report.year}}</p>
                <p>Amount : {{report.value}}</p>
                <p>Report Valuation : {{report.report}}</p>
              </li>
            </mat-tab>


            <mat-tab label="Team">
              <li *ngFor="let person of buybackDetails.mainCampaign?.campaignTeams">
                <p>Person : {{person.name}}</p>
                <p>Profile : {{person.profile}}</p>
                <p>Contact : {{person.email_id}}</p>
                <p>--------------------------</p>
              </li>

            </mat-tab>
            <mat-tab label="FAQs">
              <li *ngFor="let qa of buybackDetails.mainCampaign?.campaignFandQs">
                <p>Question : {{qa.question}}</p>
                <p>Answer : {{qa.answer}}</p>
                <p>--------------------------</p>
              </li>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>


    <div class="col-lg-4">

      <div class="campaignLayout-topContent-right">
        <div>
          <br /> <br />
          <div class="fundingColor basicsSection-statusLabel t-label--sm">
            Startup
          </div>
          <div class="basicsSection-title widescreen t-h4--sansSerif">
            {{buybackDetails.mainCampaign.campaignDetail.name}}
          </div>
          <div class="basicsSection-tagline widescreen t-body--sansSerif--lg">
            {{buybackDetails.mainCampaign.campaignDetail.short_pitch}}
          </div>

          <div class="basicCampaignOwner">

            <div class="columns is-gapless">
              <div>
                <span><i class="fa fa-bar-chart fa-3x" style="color:rgb(209, 203, 203)"></i></span>
              </div>
              <div class="column">
                <div class="basicsCampaignOwner-details">
                  <div>
                    <span class="campainCategory"
                      style="color:green">{{buybackDetails.mainCampaign.campaignDetail.category}}</span>
                  </div>

                </div>
              </div>

            </div>

          </div>


          <div class="fund-bar">

            <div class=fundingDiscoverableCard-footerBottom>
              <div>
                <div class="fundingDiscoverableCard-raisedContainer">
                  <div>
                    <span *ngIf="amountAlreadyInvested>0" class="fundingDiscoverableCard-unitsRaisedNumber">
                      You Have Invested : $ {{amountAlreadyInvested}}
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="fund-bar">

            <div class=fundingDiscoverableCard-footerBottom>
              <div>
                <div class="fundingDiscoverableCard-raisedContainer">
                  <div>
                    <span *ngIf="amountAlreadyInvested>0" class="fundingDiscoverableCard-unitsRaisedNumber">
                      Return Percent :{{buybackDetails.buyback_return_percentage}} %
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="fund-bar">

            <div class=fundingDiscoverableCard-footerBottom>
              <div>
                <div class="fundingDiscoverableCard-raisedContainer">
                  <div>
                    <span *ngIf="amountAlreadyInvested>0" class="fundingDiscoverableCard-unitsRaisedNumber">
                      Current Investment Value : {{currentInvestmentValue}} $
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="form-inline" style="margin-top:30px">
            <div>
              <mat-card-actions>
                 &nbsp;&nbsp;
                <input class="showOnlyLine" style="text-align: right;" size="8" [(ngModel)]="percentage" /> % &nbsp;&nbsp;

                <button type="button" class="btn btn-primary" mat-button (click)="checkOut()">Sell</button>
                &nbsp;&nbsp;

              </mat-card-actions>
            </div>
          </div>

        </div>
      </div>



















    </div>
  </div>
</div>